.profile {
    text-align: center;
    padding: 20px;
    margin-left:5%;
    margin-top:2%;
    width:90%;
    border-radius:20px;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    
  }
  
  .profile-name {
    margin-top: px;
    
  }
  
  .edit-button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    max-width:200px;
  }
  
  .stats {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .stat {
    margin: 0 20px;
  }
  
  .stat-value {
    font-size: 18px;
    font-weight: bold;
  }
  
  .stat-label {
    margin-top: 5px;
    font-size: 14px;
    color: #777;
  }
  