
  .gallery::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

 
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  